/* TODO: integrate to master styleguide.css */
.chosen-container-single .chosen-single span {
	width: calc(100% - 19px);
}

/* Hack to fix bug in vectortile canvas layer */

.map[data-zoom="0"] #map-0_mainMapParcelVector,
.map[data-zoom="1"] #map-0_mainMapParcelVector,
.map[data-zoom="2"] #map-0_mainMapParcelVector,
.map[data-zoom="3"] #map-0_mainMapParcelVector,
.map[data-zoom="4"] #map-0_mainMapParcelVector,
.map[data-zoom="5"] #map-0_mainMapParcelVector,
.map[data-zoom="6"] #map-0_mainMapParcelVector,
.map[data-zoom="7"] #map-0_mainMapParcelVector,
.map[data-zoom="8"] #map-0_mainMapParcelVector,
.map[data-zoom="9"] #map-0_mainMapParcelVector,
.map[data-zoom="10"] #map-0_mainMapParcelVector,
.map[data-zoom="11"] #map-0_mainMapParcelVector,
.map[data-zoom="12"] #map-0_mainMapParcelVector,
.map[data-zoom="13"] #map-0_mainMapParcelVector,
.map[data-zoom="14"] #map-0_mainMapParcelVector {
	display: none;
}

/* End Hack

/* Custom print dialog */

#plugin-print-modal {
	font-weight: bold;
	font-size: 17px;
}

#plugin-print-modal .lbl-text {
	display: block;
}

#plugin-print-modal input[type="text"] {
	width: 100%;
	margin-bottom: 7px;
}

#plugin-print-modal .form-component {
	margin-top: 10px;
}


/* End Custom print dialog */

.marine-risk {
	display: flex;
	flex-direction: row;
	flex: 1;
	flex-wrap: wrap;
	height: 726px;
}

.intro,
.main-controls,
.stats,
.additional-layers,
.export
 {
	display: flex;
	flex-direction: column;
	padding: 5px 16px;
	width: 100%;
}

.select-controls {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.select-controls .left-side,
.select-controls .right-side {
	width: 75%;
}

.select-controls .left-side {
	padding: 5px 5px 5px 17px;
	background-color: #f5f5f5;
}

.select-controls .right-side {
	background-color: #e7e7e7;
	padding: 5px 17px 5px 5px;
}

.select-controls .right-side #parcel-id {
	font-size: 13px;
	line-height: 30px;
	font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.select-controls .right-side .hint {
	display: inline;
	font-size: 12px;
}

.main-controls {
	padding-top: 2px;
}

.main-controls h3 {
	margin-top: 1.2rem;
	text-align: center;
	font-size: 13px;
}

.main-controls .ui-slider-pips .ui-slider-pip-label .ui-slider-label {
	width: auto;
	margin-left: -23px;
	white-space: pre;
}

.main-controls .salt-marsh-control .slider-container {
	display: inline-block;
	width: 290px;
	margin: 16px 33px;
}

.transparency-control {
	position: absolute;
	display: inline-block;
	margin: 12px 14px 40px;
	vertical-align: top;
	right: 15px;
	z-index: 10;
}

.transparency-header {
	display: none;
	position: absolute;
	font-size: 11px;
	top: -14px;
	left: -7px;
}

.transparency-label {
	position: relative;
	font-size: 11px;
	width: 0;
	padding: 0;
	cursor: pointer;
	user-select: none;
}

.transparency-label::after {
	content: "\f042";
	position: absolute;
	top: -3px;
	right: -11px;
	font-family: "FontAwesome";
	font-size: 16px;
	color: #2678ca;
}

.transparency-label .value {
	display: none;
}

.transparency-slider {
	position: absolute;
	display: none;
	width: 85px;
	height: 19px;
	right: 3px;
	background-color: #aaa;
	padding: 0 10px;
	border-radius: 3px;
	border-top-right-radius: 0;
}

.transparency-control.open .transparency-slider {
	display: block;
}

.transparency-control[data-opacity="100"] .transparency-label::after {
	color: #596165;
}

.transparency-slider .slider.ui-slider {
	margin-top: 8px;
	height: 4px;
	background: none;
	background-color: #767676;
}

.transparency-slider .slider.ui-slider .ui-slider-handle {
	width: 13px;
	height: 13px;
	margin-left: -7.5px;
	margin-top: -2px;
	background: none;
	background-color: #767676;
}

.ui-slider-label {
	white-space: nowrap;
}

.main-controls .salt-marsh-control .transparency-control {
	right: 30px;
}

.stats {
	background-color: #f5f5f5;
	flex-wrap: wrap;
	flex-direction: row;
	/*padding-right: 9px;*/
}

.marine-risk .stats .stat {
	/*position: relative;
	margin: 5px 0;
	height: auto;
	cursor: pointer;
	white-space: nowrap;
	width: 100%;
	margin-right: 8px;*/
}
.stat.active.current-salt-marsh.twins {
	position: relative;
	height: auto;
	white-space: nowrap;
	width: calc(50% + 16px);
}
.stat.active.current-salt-marsh.twins:nth-of-type(1) {
	margin: -5px 0 10px -16px;
}
.stat.active.current-salt-marsh.twins:nth-of-type(2) {
	margin: -5px -16px 10px 0;
}
.marine-risk .stats .stat .twinPanel {
	display: inline-block;
	background-color: white;
	width: 100%;
	height: auto;
	color: #444;
	border-radius: 0;
	text-align: center;
	margin: 0;
}
.marine-risk .stats .stat .description, .marine-risk .stats .stat .twinPanel .description {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	line-height: 130%;
	margin: 6px 0 13px 0;
	padding: 0 17px;
	height: 40px;
	white-space: normal;
}
.marine-risk .stats .stat .twinPanel .number {
	display: block;
	border-bottom: 1px solid #ccc;
	width: calc(100% - 26px);
	margin: 0 13px;
	line-height: 50px;
}
.marine-risk .stats .stat .twinPanel .number .value, .marine-risk .stats .stat .twinPanel .number .value .symbol {
	display: inline-block;
	font-size: 27px;
	line-height: 120%;
}
.marine-risk .stats .stat .twinPanel .town {
	height: 0px;
	overflow: hidden;
	transition: .3s height ease;
}
.marine-risk .stats .stat .twinPanel .town.active {
	height: 60px;
	overflow: hidden;
}
.marine-risk .stats .stat .twinPanel .town .number {
	display: block;
	border-bottom: 1px solid #ccc;
	width: calc(100% - 26px);
	margin: 0 13px;
	line-height: 25px;
}
.marine-risk .stats .stat .twinPanel .town .number .value, .marine-risk .stats .stat .twinPanel .town .number.value .symbol {
	display: inline-block;
	font-size: 21px;
	line-height: 140%;
}
.marine-risk .stats .stat .twinPanel .town .description {
	height: 16px;
}

.marine-risk .stats .stat .twinPanel .stat-info {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 41px;
	right: 12px;
}
.marine-risk .stats .stat .twinPanel .stat-info .fa {
	color: #266f9c;
	position: relative;
	top: 0;
	left: 0;
	font-size: 16px;
}
.stat.active.current-salt-marsh {
	position: relative;
	background-color: white;
	height: auto;
	white-space: nowrap;
	width: calc(100% + 12px);
	margin: 0 -7px 5px -7px;
}
.stat.active.current-salt-marsh .chart-holder h3 {
	font-size: 13px;
	text-align: center;
}
.stat.active.current-salt-marsh .chart-holder .label-left, .stat.active.current-salt-marsh .chart-holder .label-right {
	font-size: 11px;
	text-align: left;
	color: #999;
	margin-left: 26px;
}
.stat.active.current-salt-marsh .chart-holder .label-right {
	float: right;
	margin-right: 26px;
}

.stat.active.current-salt-marsh #sv_slider {
	margin: 2px 26px 36px 26px;
}
#sv_slider {
	height: 26px;
}
#sv_slider .ui-widget-header {
	background-image: none;
	background-color: #0c9bd9;
}
#custom-handle {
	width: 3px;
	height: 40px;
	top: -7px;
	margin-top: 0;
	margin-left: -3px;
	line-height: 98px;
	font-size: 21px;
	font-weight: bold;
	text-indent: -4%;
	background-image: none;
	background-color: #0c9bda;
	border-color: #0c9bda;
	letter-spacing: -2px;
	outline: none;
}
.stat.active.current-salt-marsh .description {
	height: auto;
	margin: 8px 0 4px 0;
}
.stat.active.current-salt-marsh .stat-info {
	position: absolute;
	right: 9px;
	top: 130px;
	width: 16px;
	height: 16px;
}
.stat.active.current-salt-marsh .show-hide {
	margin: 10px 0 13px 0;
	text-align: center;
}
.stat.active.current-salt-marsh .show-hide .carrotToggle {
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid #92dbfb;
	padding: 5px 10px;
	border-radius: 20px;
	transition: .3s all ease;
}
.stat.active.current-salt-marsh .show-hide .carrotToggle:hover {
	background-color: #3875d7;
	color: white;
}
.stat.active.current-salt-marsh .show-hide .carrotToggle.disabled {
	background-color: transparent;
	color: #444;
	opacity: .4;
}
.stat.active.current-salt-marsh .show-hide .carrotToggle.disabled:hover {
	background-color: transparent;
	color: #444;
	opacity: .4;
}


.marine-risk .stats .stat .statGrid {
	width: 100%;
	overflow: hidden;
	white-space: normal;
	font-size: 12px;
	max-height: 0px;
	transition: .3s all ease;
}
.marine-risk .stats .stat .statGrid .icon {
	display: none;
}
.marine-risk .stats .stat .statGrid.active {
	max-height: 500px;
}
.marine-risk .stats .stat .statGrid .statGridColumn {
	display: inline-block;
	width: 48%;
	margin: -0 3px;
	position: relative;
	vertical-align: top;
}
.marine-risk .stats .stat .statGrid .statGridColumn ul {
	padding: 0px;
}
.marine-risk .stats .stat .statGrid li {
	list-style-type: none;
	line-height: normal;
	padding: 5px;
	border: 1px solid #c7c7c7;
	margin-top: -1px;
}
.marine-risk .stats .stat .statGrid li.hilite {
	background-color: #e4f1ff;
}
.marine-risk .stats .stat .statGrid li.cat-label {
	font-weight: bold;
	background-color: #444;
	border: 1px solid #444;
	color: white;
	padding: 10px 5px;
}

/*.marine-risk .stats .stat-info {
	width: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -5px;
}


.marine-risk .stats .stat-info .fa-info-circle {
	color: #266f9c;
	position: absolute;
	top: 23px;
	left: 4px;
	font-size: 16px;
}

.stats .stat.active .stat-info {
	background-color: #03a0da;
}

.marine-risk .stats .number {
	flex: 0 0 170px;
	margin-left: 10px;
	font-size: 17px;
}

.marine-risk .stats .number .value {
	font-size: 21px;
	letter-spacing: -0.5px;
	font-weight: bold;
	vertical-align: middle;
}
*/


.marine-risk .stats .icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 17px;
	vertical-align: middle;
	
}

.marine-risk .stats .icon img {
	width: 30px;
	height: 30px;
}

.marine-risk .stats .icon.grass {
	background: url("icons/grass.png") center no-repeat white;
	background-size: 30px 30px;
}

.marine-risk .stats .icon.bird {
	background: url("icons/bird.png") center no-repeat white;
	background-size: 30px 30px;
}

.marine-risk .stats .icon.fish {
	background: url("icons/fish.png") center no-repeat white;
	background-size: 30px 30px;
}

.marine-risk .stats .icon.marsh {
	background: url("icons/marsh.png") center no-repeat white;
	background-size: 30px 30px;
}

.marine-risk .stats .icon.beach {
	background: url("icons/beach.png") center no-repeat white;
	background-size: 30px 30px;
}

.marine-risk .stats .icon.swamp {
	background: url("icons/swamp.png") center no-repeat white;
	background-size: 30px 30px;
}

.marine-risk .stats .icon.water {
	background: url("icons/water.png") center no-repeat white;
	background-size: 30px 30px;
}

.marine-risk .stats .icon.flats {
	background: url("icons/flats.png") center no-repeat white;
	background-size: 30px 30px;
}

/*.marine-risk .stats .description {
	font-size: 18px;
	flex-wrap: nowrap;
	white-space: normal;
	margin-right: 22px;
}

.additional-layers .description {
	margin: 8px 0px;
}
*/
.additional-layers .layer {
	position: relative;
	height: 35px;
	user-select: none;
}

.additional-layers .layer .transparency-control {
	display: none;
	top: 0;
	margin-top: 3px;
}

.additional-layers .info {
	position: absolute;
	right: 0;
	top: 4px;
	color: #266f9c;
	font-size: 16px;
}

.export {
	flex-direction: row-reverse;
}

.export .notes {
	left: 18px;
	position: absolute;
}

.custom-combobox {
	position: relative;
	display: inline-block;
}
 .custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}
 .custom-combobox .custom-combobox-input {
	margin: 0;
	padding: 5px 10px;
	width: 145px;
	background-image: none;
	background-color: white;
}
.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
	max-height: 350px;
	overflow-x: hidden;
	overflow-y: auto;
}
/*.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front .ui-menu-item {
	border-width: 0px;
	padding: 0;
	list-style-image: none;
	margin: 0;
}
.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front .ui-menu-item:hover {
	background-color: ;
	padding: 0;
	border-width: 0px;
	list-style-image: none;
	color: white;
}
*/.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front .ui-menu-item .ui-menu-item-wrapper {
	border-width: 0px;
	padding: 3px 5px;
	margin: 0;
	background-color: white;
	background-image: none;
	transition: .3s all ease;
}
.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front .ui-menu-item .ui-menu-item-wrapper:hover {
	border-width: 0px;
	padding: 3px 5px;
	margin: 0;
	color: white;
	background-color: #3875d7;
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
}


