<link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet">
<script type="text/javascript" src="plugins/marine-risk-explorer/html2canvas.min.js" />
<link href="plugins/marine-risk-explorer/style.css" rel="stylesheet">

<div class="marine-risk">

	<div class="intro">
		<%= intro %>
	</div>

	<div class="select-controls">
		<div class="left-side">
			<%= townLabel %>:
			<div class="ui-widget">
				<select id="combobox">
					<option></option>
					<% _.each(towns, function(val, key) { if (val !== "global") {%>
						<option value="<%= val %>"><%= val %></option>
					<% }}); %>
				</select>
			</div>
		</div>

		<div class="right-side">
			<% if (disclaimer) { %>
				<span style="font-size: 11px; line-height: 13px; display: block;"><%= disclaimer %></span>
			<% } else { %>
				<div class="hint" style="display: none;">** Please zoom in to view parcel-level information</div>
				<div class="parcel-label" style="display: none;">Parcel: <br><span id="parcel-id"></span></div>
				<span id="blockGroupName"></span>
			<% } %>
		</div>

	</div>

	<div class="main-controls">
		<h3><span id="roadsInfoTitle">Coastal Roads Inaccessible to Emergency Services</span></h3>
		<div class="salt-marsh-control" data-scenario-idx="0">
			<strong>Sea Level Rise Prediction</strong>
			<div class="slider-container">
				<div id="salt-marsh-slider" class="slider"></div>
			</div>

			<div class="transparency-control" data-layer="seaLevelRise" data-opacity="100">
				<span class="transparency-header">Transparency</span>
				<div class="transparency-label"><span class="value">100%</span></div>
				<div class="transparency-slider" style="margin-top: -20px; margin-right: -16px;">
					<div class="slider"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="stats">
		<% _.each(reportItems, function(stat) { %>
			<% if (stat.type === "multiple") { %>
				<div class="stat active current-salt-marsh" data-stat="<%= stat.label.toLowerCase().replace(/ /g, '-').replace(/\//g, '-') %>">
					<div class="chart-holder">
						<h3><span id="sv_title">Social Vulnerability Ranking</span></h3>
						<span class="label-left">Least Vulnerable</span>
						<span class="label-right">Most Vulnerable</span>
						<div id="sv_slider">
							<div id="custom-handle" class="ui-slider-handle"></div>
						</div>
					</div>
					<div class="panel">
						<!-- <div class="number">
							<div class="icon <%= stat.icon %>"></div>
							<span class="value"></span> <span class="units"><%= stat.units %></span>
						</div> -->
						<div class="description"><%= stat.label %></div>
						<div class="show-hide"><span class="carrotToggle">Show Details<img src="" /></span></div>
					</div>
					<% if (stat.tooltip) { %>
					<div class="stat-info">
						<span id="svTooltip" class="fa fa-info-circle info" title="<%= stat.tooltip %>"></span>
					</div>
					<% } %>

					<div class="statGrid">
						<div class="statGridColumn statGridColumnLeft">
							<ul>
							<% _.each(stat.categories, function(cat) { %>
								<% if (cat.position === "left") { %>
									<li class="cat-label"><%= cat.label %></li>	
									<% _.each(cat.metrics, function(met) { %>
										<% if (met.unitsBeforeValue === true) { %>	
											<li><%= met.label %><span> (<%= met.units %><span id="metric_<%= met.field %>">--</span>)</span></li>
										<% } else { %>
											<li><%= met.label %><span> (<span id="metric_<%= met.field %>">--</span><%= met.units %>)</span></li>
										<% } %>			
									<% }); %>		
								<% } %>
							<% }); %>
							</ul>
						</div>
						<div class="statGridColumn statGridColumnRight">
							<ul>
							<% _.each(stat.categories, function(cat) { %>
								<% if (cat.position === "right") { %>
									<li class="cat-label"><span class="icon <%= cat.icon %>"></span> <%= cat.label %></li>	
									<% _.each(cat.metrics, function(met) { %>
										<% if (met.unitsBeforeValue === true) { %>	
											<li><%= met.label %><span> (<%= met.units %><span id="metric_<%= met.field %>">--</span>)</span></li>
										<% } else { %>
											<li><%= met.label %><span> (<span id="metric_<%= met.field %>">--</span><%= met.units %>)</span></li>
										<% } %>
									<% }); %>		
								<% } %>
							<% }); %>
							</ul>
						</div>
					</div>

				</div>
			<% } else if (stat.type === "single") { %>
				<div class="stat active current-salt-marsh twins" data-stat="<%= stat.label.toLowerCase().replace(/ /g, '-').replace(/\//g, '-') %>">
					<div class="twinPanel">
						<div class="number">
							<% if (stat.unitsBeforeValue === true) { %>	
								<span class="value symbol"><%= stat.units %></span><span id="metric_<%= stat.elId %>" class="value">--</span>
							<% } else { %>
								<span id="metric_<%= stat.elId %>" class="value">--</span><span class="value"><%= stat.units %></span>
							<% } %>
						</div> 
						<div class="description"><%= stat.label %></div>
						<% if (stat.tooltip) { %>
						<div class="stat-info">
							<span class="fa fa-info-circle info" title="<%= stat.tooltip %>"></span>
						</div>
						<% } %>
						<div class="town">
							<div class="number">
								<% if (stat.unitsBeforeValue === true) { %>	
									<span class="value symbol"><%= stat.units %></span><span id="metric_<%= stat.elId %>_twn" class="value">--</span>
								<% } else { %>
									<span id="metric_<%= stat.elId %>_twn" class="value">--</span><span class="value"><%= stat.units %></span>
								<% } %>
							</div> 
							<div class="description">Town Total</div>
						</div>
					</div>
				</div>
			<% } %>
		<% }); %>
	</div>
	

	<div class="additional-layers">
		<strong>Additional Layers:</strong>
		<div class="description">Learn more about your area of interest by selecting from these additional information layers.</div>

		<% if (road_stream_crossing) { %>
		<div class="layer">
			<label class="form-component">
				<input type="checkbox" data-layer="roadStreamCrossing">
				<div class="check"></div>
				<span class="form-text">Road-Stream Crossing Barriers</span> 
			</label>
			<span class="fa fa-info-circle info" title="Displays surveyed road crossings that have been identified as potential stream barriers within 300 feet of selected parcels."></span>
			<!-- <div class="transparency-control" data-layer="road_stream_crossing" data-opacity="100">
				<span class="transparency-header">Transparency</span>
				<div class="transparency-label"><span class="value">100%</span></div>
				<div class="transparency-slider">
					<div class="slider"></div>
				</div>
			</div> -->
		</div>
		<% } %>

		<% if (lidar) { %>
		<div class="layer">
			<label class="form-component">
				<input type="checkbox" data-layer="lidar">
				<div class="check"></div>
				<span class="form-text">High-Resolution Topography (LIDAR)</span>
			</label>
			 <span class="fa fa-info-circle info" title="Displays visual representation of relative elevations based on high-accuracy measurement technology."></span>

			<div class="transparency-control" data-layer="lidar" data-opacity="100">
				<span class="transparency-header">Transparency</span>
				<div class="transparency-label"><span class="value">100%</span></div>
				<div class="transparency-slider">
					<div class="slider"></div>
				</div>
			</div>
		</div>
		<% } %>

	</div>

	<div class="export">
		<button class="button button-default notes">Data Notes</button>
		<button class="button button-default print">Print Report</button>
	</div>

</div>